.box-login{
    width: 390px;
    height: 500px;
    margin:  0px auto;
    border: 1px rgb(241, 239, 239) solid;
    box-shadow: 0px 4px 1px 4px rgb(250, 249, 249);
    margin-top: 100px;
    padding: 30px;
    font-family:inherit;
}

input[type="text" ]:not(.search),input[type="password" ] {
 
    width: 320px;
    height: 35px;
    margin: 0px auto;
    margin-top: 30px;
    padding: 10px;
    font-size: 1.0rem;
    border-radius: 4px;
    border: 1px solid rgb(241, 239, 239);
}
.action-button{
    width: 320px;
    height: 35px;
    background-color: rgb(104, 100, 100);

    border-radius: 4px;
    border: 1px solid rgb(104, 100, 100);
    cursor: pointer;
    text-align: center;
    padding-top: 3px;
}
.btn-login{
    margin-top: 60px;
    width: 320px;
    height: 35px;
    background-color: rgb(104, 100, 100);
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid rgb(104, 100, 100);
    cursor: pointer;
    color: #ffff;
    
}
 .btn-register{
    text-decoration:none;
    color: #ffff;
    font-family:'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
}
/* .btn-register{
    width: 320px;
    height: 35px;
    background-color: rgb(104, 100, 100);
    color: white;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid rgb(104, 100, 100);
    cursor: pointer;
} */
h2{
    text-align: center;
}
label.error{
    color: red;
    display: block;
}